<!-- start custom footer snippets -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Modding PT Ad -->
<div align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
      style="display:block; color:#000000; background-color:#000000; border-bottom: initial"
      data-ad-client="ca-pub-9173777560971565"
      data-ad-slot="8276556535"
      data-ad-format="auto"></ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- end custom footer snippets -->