---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$gray                       : #f6f6f6 !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$body-color                 : #000 !default;
$background-color           : #000 !default;
$border-color               : $darker-gray !default;
$primary-color              : #e2001a !default;
$reddit-color               : #ff4500 !default;


@import "minimal-mistakes";